.spacer {
  flex: 1 1 auto;
}
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.container {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.spinner-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  width: 100%;
}
