.spacer {
  flex: 1 1 auto;
}
.spinner-container {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.detail-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .image-box {
    width: 100%;
    img {
      width: 100%;
      border-radius: 8px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }
  }

  .info-box {
    button {
      margin-bottom: 20px;
      width: 100%;
    }
  }

  .details-accordion {
    margin-top: 10px;
  }
}
